@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body {
    height:100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #fafafa;
}

.heading {
	font-family: 'Proza Libre', sans-serif;
}

.navbar {
	padding: 0.8rem;
}

.navbar-nav li{
	padding-right: 30px;
}

.nav-link {
	font-size: 1.1em !important;
}

.carousel-inner img {
	width: 100%;
	height:100%;
}

.carousel-caption {
	position: absolute;
	top: 40%;
}


.btn-primary {
	background-color: white;
	border-radius: 100px;
	border-width: 4px;
	border-color: white;
	color: black;
}

.btn-primary:hover {
	background-color: rgb(92, 90, 88);
	border-radius: 100px;
	border-width: 4px;
	border-color:rgb(92, 90, 88);
	color: white;
}

.padding{
	padding:2rem;
}

.welcome {
	width:95%;
	margin: 0 auto;
	padding: 2rem;
}

.welcome hr {
		clear:both;
		display:block;
		width: 80%;               
		background-color:#b4b4b4;
		height: 2px;
		margin-top: 20px;
		margin-bottom: 40px;
}

.projects hr {
	margin-bottom: 0px;
}

.card-row {
	padding-top: 0px;
}

.fa-code {
	color: #e54d26;
}

.fa-bold {
	color: #563d7c;
}

.fa-css3 {
	color: #2163af;
}

.fa-python {
	color: #f7f30b;
}

.fa-cuttlefish {
	color: #2163af;
}

.fa-database {
	color: #5b5b5c;
}

.fa-code, .fa-bold, .fa-css3, .fa-python, .fa-cuttlefish, .fa-database {
	font-size:4em;
	margin: 2rem;
}

.card {
	min-height: 550px;;
	margin: 1rem;
}

.social a{
	font-size: 4.5em;
	padding: 3rem;
}

.social {
	margin-bottom: 60px;
}

.fa-linkedin-in{
	color: #0e76a8; 
}

.fa-envelope-open-text{
	color: red; 
}

.fa-github{
	color: black; 
}

.fa-linkedin-in:hover,
.fa-envelope-open-text:hover,
.fa-github:hover{
	color: #d5d5d5;
}


/*-------- Media Queries ------*/
@media (max-width: 992px) {
	.social a {
		font-size: 4em;
		padding:2em;
	}
}

@media (max-width: 768px) {
	.carousel-caption {
		top:30%;
	}
	.carousel-caption h1 {
		font-size: 200%;
	}
	.carousel-caption .btn {
		font-size: 98%;
		padding: 8px 14px;
	}
	.heading {
		font-size: 180%;
	}
	.social a {
		font-size: 3em;
		padding:1.5rem;
	}
}

@media (max-width: 576px) {
	.carousel-caption {
		top:25%;
	}
	.carousel-caption h1 {
		font-size: 170%;
	}
	.carousel-caption .btn {
		font-size: 95%;
		padding: 4px 8px;
	}
	.carousel-indicators {
		display: none;
	}
	.heading {
		font-size: 150%;
	}
	.social a {
		font-size: 2.5em;
		padding:1.8rem;
	}
}